<app-header></app-header>
<div class="seconde_header">
    <p>Add New Certificate</p>
</div>
<article class="whiteBackGround center_content_holder">
    <div style="width: 600px;">
        <form [formGroup]="submit_form" class="inputs_display_style" style="position: relative;" (ngSubmit)="submitForm()"> 
            <div>
                <p>Company</p>
                <input formControlName="copany" class="input_field black_border" type="text">
            </div>
            <div>
                <p>Item Name</p>
                <input formControlName="name" class="input_field black_border" type="text">
            </div>
            <div>
                <div style=" position: absolute; right: 320px;">
                <p>Category</p>
                <app-categories-dropdown
                (categorySelected)="categorySelectedHandler($event)"
                [name]="'Select category'" [value]="''" [attributes] = "['disabled','selected','hidden']"  
                style="z-index: 100; width: 260px;">
                </app-categories-dropdown>
                </div>
            </div>
            <div>
                <p>Valid to</p>
                <input formControlName="expiration_date" class="input_field black_border" type="date">
            </div>
            <div>
                <p>Price</p>
                <input formControlName="price" class="input_field black_border" type="text" >
            </div>
            <div>
                <p>Image</p>
                <input formControlName="img" type="file" (change)="onImgUpload($event)" class="input_field black_border" accept=".jpg, .jpeg, .png">
            </div>
            <div>
                <p>Short description</p>
                <textarea formControlName="shord_desc" class="black_border" rows="5" cols="33"></textarea>
            </div>
            <div>
                <p>Long description</p>
                <textarea formControlName="long_desc" class="black_border" rows="5" cols="33"></textarea>
            </div>

            <div class="error_msg_holder">
                <app-hidden-text 
                [text]="errorMsg" 
                backgroundColor="inherit"
                >
                </app-hidden-text>
            </div>
    
            <div class="two_button_holder">
                <app-button 
                    width="inherit" 
                    color="black" 
                    backgroundColor="white" 
                    borderColor="black" 
                    text="Back" 
                    (buttonCicked)="back()">
                </app-button>
                <app-button 
                    width="inherit" 
                    color="white" 
                    backgroundColor="rgb(140, 185, 72)"
                    borderColor="rgb(140, 185, 72)" 
                    text="Save"
                    (buttonCicked)="submitForm()">
                </app-button>
            </div>
        </form>
    </div>
</article>