@import '/src/styles.scss';

header{
    color: rgb(0, 0, 0);
    background-color: $headeBackGroundColor;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.header_nav{
    list-style: none;
    display: flex;
    justify-content: space-between;

    li{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
}

.link_container {    
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

    a{
        margin-top: 5px;
        color: $borderColor;
        text-decoration: none;
        margin-right: 10px;
    }
}

.general_link{
    color: $borderColor;
    text-decoration: none;
}

.search{
    border-color: $borderColor;
    border-width: 1px;
    height: 30px;
    width: 300px;
    border-radius:0%;
    padding-left: 5px;
}

app-categories-dropdown{
    width: 120px;
}
