
$width : 80px;
$height : 30px;
$inputFieldBorder : 0px;

$textAlign : center;

.green_button {
    border: $inputFieldBorder;
    width: $width;
    height: $height;
    text-align: $textAlign;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(140, 185, 72);
}

.white_button {
    width:80px;
    height: 25px;
    text-align: center;
    color: rgb(8, 8, 8);
    border-color: rgb(8, 8, 8);
    background-color: white;
    border-width: 1px;
    border-radius: 0%;
}

.default_button {
    width: 80px;
    height: 25px;
    text-align: center; 
    color: rgb(8, 8, 8);
    border-color: rgb(8, 8, 8);
    background-color: white;
    border-width: 1px;
    border-radius: 0%;
}