$borderColor : rgb(8, 8, 8);
.dropdown {
    height: 30px !important;
    background-color: #fff;
    border: 1px solid $borderColor;
    display: flex !important;


    .mat-select-value{
        background-color: #fff;
        border: 1px solid $borderColor;
        
    }

    .seelctor{
        text-align:center;
        position: relative;
        top: -27px;
        height: 30px;
        max-height: 1px;
        padding: 0  !important;
    }

}
::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep #mat-select-2-panel{
    min-width: 0px !important;
}

::ng-deep .cdk-overlay-pane { 
    transform:none !important;
}

::ng-deep .mat-select-placeholder { 
    color: $borderColor;
}